.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.env
*.db
*.sqlite
*.sqlite3
uploads/*
!uploads/.gitkeep
*.log
ml/datasets/*
!ml/datasets/.gitkeep
!ml/datasets/*.yaml
ml/models/*.pt
!ml/models/.gitkeep
